<!--
The MIT License (MIT)

Copyright (c) 2014 Siarhei Luskanau

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
the Software, and to permit persons to whom the Software is furnished to do so,
subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="siarhei.luskanau.gps.tracker.free">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.net.conn.CONNECTIVITY_CHANGE" />

    <!-- GCM -->
    <permission
        android:name="siarhei.luskanau.gps.tracker.free.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <!-- GCM -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="siarhei.luskanau.gps.tracker.free.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name="siarhei.luskanau.gps.tracker.free.ui.app.TrackerApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/tracker_app_name"
        android:theme="@style/Theme.AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="siarhei.luskanau.gps.tracker.free.ui.app.MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="siarhei.luskanau.gps.tracker.free.ui.app.AppActivity" />

        <service
            android:name="siarhei.luskanau.gps.tracker.free.service.TrackerService"
            android:exported="false" />

        <service
            android:name="siarhei.luskanau.gps.tracker.free.service.sync.SyncService"
            android:exported="false" />

        <service
            android:name="siarhei.luskanau.gps.tracker.free.service.location.LocationService"
            android:exported="false" />

        <provider
            android:name="siarhei.luskanau.gps.tracker.free.database.ContentProvider"
            android:authorities="siarhei.luskanau.gps.tracker.free.provider"
            android:exported="false" />

        <receiver android:name="siarhei.luskanau.gps.tracker.free.receiver.StaticReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
            </intent-filter>
        </receiver>

        <!-- GCM -->
        <receiver
            android:name="siarhei.luskanau.gps.tracker.free.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="siarhei.luskanau.gps.tracker.free" />
            </intent-filter>
        </receiver>
        <service android:name="siarhei.luskanau.gps.tracker.free.gcm.GcmIntentService" />

    </application>

</manifest>